Repository cerpus/Edlib, pull requests merged in 2021-11, with the labels that each got.

#94 Add resource api collaborators check in Content Author
  sourcecode/apis/contentauthor/app/ApiModels/ResourceCollaborator.php
  sourcecode/apis/contentauthor/app/Apis/ResourceApiService.php
  sourcecode/apis/contentauthor/app/Content.php
  sourcecode/apis/contentauthor/app/Providers/AppServiceProvider.php
  sourcecode/apis/contentauthor/app/Util.php
  sourcecode/apis/contentauthor/tests/API/Handler/ContentTypeHandlerTest.php
  sourcecode/apis/contentauthor/tests/Article/ArticleLockTest.php
  sourcecode/apis/contentauthor/tests/Article/ArticleTest.php
  sourcecode/apis/contentauthor/tests/Article/ArticleVersioningTest.php
  sourcecode/apis/contentauthor/tests/H5P/CRUTest.php
  sourcecode/apis/contentauthor/tests/Traits/MockResourceApi.php
  sourcecode/apis/resources/src/controllers/resource.js
  sourcecode/apis/resources/src/routes/index.js
Labels: bug

#96 Better k8s scaling
  .github/workflows/aws-deploy.yaml
  chart/templates/apis/auth.yaml
  chart/templates/apis/common.yaml
  chart/templates/apis/contentauthor.yaml
  chart/templates/apis/license.yaml
  chart/templates/apis/lti.yaml
  chart/templates/apis/resource.yaml
  chart/templates/apis/url.yaml
  chart/templates/apis/version.yaml
  chart/templates/helpers/horizontalPodAutoscaler.tpl
  chart/templates/helpers/podDisruptionBudget.tpl
  chart/templates/proxies/admin.yaml
  chart/templates/proxies/auth.yaml
  chart/templates/proxies/iframe.yaml
  chart/templates/proxies/lti.yaml
  chart/templates/proxies/recommendation.yaml
  chart/templates/proxies/resource.yaml
  chart/templates/proxies/url.yaml
  chart/values.yaml
  chart/values/cerpus_prod.yaml
  chart/values/ndla_prod.yaml
Labels: enhancement

#102 Fix lti launch in articles
  sourcecode/apis/contentauthor/app/Http/Controllers/ContentExplorerController.php
  sourcecode/apis/contentauthor/app/Traits/LtiUrlFunctions.php
  sourcecode/apis/contentauthor/config/edlib.php
  sourcecode/apis/contentauthor/tests/Unit/LTITest.php
Labels: bug

#103 Remove sync to questionbank service
  sourcecode/apis/contentauthor/app/Listeners/Questionset/HandleQuestionbank.php
  sourcecode/apis/contentauthor/config/questionbank-client.php
Labels: bug

#104 Add extra slack hook url
  .github/workflows/aws-deploy.yaml
Labels: enhancement

#105 Use icon from CDN when available
  sourcecode/apis/contentauthor/app/Libraries/H5P/Framework.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Interfaces/CerpusStorageInterface.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Storage/H5PCerpusStorage.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Storage/H5PStorage.php
  sourcecode/apis/contentauthor/tests/H5P/Storage/H5pCerpusStorage.php
Labels: enhancement

#106 Retrieve user from auth API
  sourcecode/apis/auth/src/controllers/user.js
  sourcecode/apis/auth/src/routes/index.js
  sourcecode/apis/contentauthor/app/ApiModels/User.php
  sourcecode/apis/contentauthor/app/Apis/AuthApiService.php
  sourcecode/apis/contentauthor/app/Content.php
  sourcecode/apis/contentauthor/app/Http/Controllers/ArticleController.php
  sourcecode/apis/contentauthor/app/Http/Libraries/UserService.php
  sourcecode/apis/contentauthor/app/Providers/AppServiceProvider.php
  sourcecode/apis/contentauthor/config/edlib.php
  sourcecode/apis/contentauthor/tests/Article/ArticleLockTest.php
  sourcecode/apis/contentauthor/tests/Article/ArticleTest.php
  sourcecode/apis/contentauthor/tests/Article/ArticleVersioningTest.php
  sourcecode/apis/contentauthor/tests/Questionset/QuestionSetControllerTest.php
  sourcecode/apis/contentauthor/tests/Traits/MockAuthApi.php
  sourcecode/apis/contentauthor/tests/Traits/MockUserService.php
Labels: bug

#110 Update edlib components
  sourcecode/npm/components/package.json
  sourcecode/proxies/iframe/package.json
  sourcecode/proxies/iframe/yarn.lock
  sourcecode/www/package.json
  sourcecode/www/yarn.lock
Labels: enhancement

#112 Increase cache time to 1 day and get content type info for last version
  sourcecode/apis/contentauthor/app/H5PContent.php
  sourcecode/apis/resources/src/context/services/externalResourceFetcher.js
Labels: enhancement

#113 Use AWS docker registry for docker images
  .github/workflows/api-auth.yaml
  .github/workflows/api-common.yaml
  .github/workflows/api-contentauthor.yaml
  .github/workflows/api-doku.yaml
  .github/workflows/api-license.yaml
  .github/workflows/api-lti.yaml
  .github/workflows/api-resources.yaml
  .github/workflows/api-url.yaml
  .github/workflows/api-version.yaml
  .github/workflows/docs-edlib-com.yaml
  .github/workflows/proxy-admin.yaml
  .github/workflows/proxy-auth.yaml
  .github/workflows/proxy-doku.yaml
  .github/workflows/proxy-iframe.yaml
  .github/workflows/proxy-lti.yaml
  .github/workflows/proxy-recommendation.yaml
  .github/workflows/proxy-resource.yaml
  .github/workflows/proxy-url.yaml
  .github/workflows/www.yaml
  chart/templates/apis/auth.yaml
  chart/templates/apis/common.yaml
  chart/templates/apis/contentauthor.yaml
  chart/templates/apis/license.yaml
  chart/templates/apis/lti.yaml
  chart/templates/apis/resource.yaml
  chart/templates/apis/url.yaml
  chart/templates/apis/version.yaml
  chart/templates/proxies/admin.yaml
  chart/templates/proxies/auth.yaml
  chart/templates/proxies/iframe.yaml
  chart/templates/proxies/lti.yaml
  chart/templates/proxies/recommendation.yaml
  chart/templates/proxies/resource.yaml
  chart/templates/proxies/url.yaml
  chart/templates/www.yaml
Labels: enhancement

#116 Return null when configuration isn't complete for a resource type
  sourcecode/apis/resources/src/context/services/__tests__/externalResourceFetcher.js
  sourcecode/apis/resources/src/context/services/externalResourceFetcher.js
Labels: bug

#109 WIP: Add the architecture documentation
  sourcecode/docs/docs.edlib.com/docs/developers/architecture.mdx
Labels: documentation

#118 Resolves #24: Show correct/wrong toggle for first answer option
  sourcecode/apis/contentauthor/resources/assets/react/components/QuestionContentType/QuestionContentType.js
  sourcecode/apis/contentauthor/resources/assets/react/components/QuestionContentType/QuestionContentTypeLayout.js
  sourcecode/apis/contentauthor/resources/assets/react/components/QuestionContentType/components/QuestionCard/components/AnswerList/AnswerListLayout.js
  sourcecode/apis/contentauthor/resources/assets/react/components/QuestionContentType/components/QuestionContainer/index.js
Labels: bug

#119 Add setup guide for edlib on linux
  .github/release.yml
  sourcecode/docs/docs.edlib.com/docs/developers/architecture.mdx
  sourcecode/docs/docs.edlib.com/docs/developers/developer-guides/_category_.json
  sourcecode/docs/docs.edlib.com/docs/developers/developer-guides/installing-edlib-linux.mdx
  sourcecode/docs/docs.edlib.com/docs/developers/in-production-usage-guide.mdx
  sourcecode/docs/docs.edlib.com/docs/developers/plugins.mdx
  sourcecode/docs/docs.edlib.com/docs/developers/thirdPartyContent/_category_.json
  sourcecode/docs/docs.edlib.com/docs/developers/translation.mdx
Labels: documentation

#125 Add NotFoundException class to CA
  sourcecode/apis/contentauthor/app/Exceptions/NotFoundException.php
Labels: bug

#129 Fix the way h5p gets url's for CDN
  sourcecode/apis/contentauthor/app/Libraries/H5P/Storage/H5PCerpusStorage.php
  sourcecode/apis/contentauthor/app/Providers/H5PServiceProvider.php
  sourcecode/apis/contentauthor/config/h5p.php
Labels: bug

#131 Change default mathjax viewer to SVG
  sourcecode/apis/contentauthor/app/Libraries/H5P/Adapters/CerpusH5PAdapter.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Adapters/NDLAH5PAdapter.php
Labels: bug

#128 remove metadataservice integration
  sourcecode/apis/contentauthor/.env.example
  sourcecode/apis/contentauthor/app/Content.php
  sourcecode/apis/contentauthor/app/Http/Controllers/API/TagController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/Admin/MetadataController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/ArticleController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/ContentTagController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/GameController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/H5PController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/QuestionSetController.php
  sourcecode/apis/contentauthor/app/Libraries/Games/Millionaire/Millionaire.php
  sourcecode/apis/contentauthor/app/Libraries/NDLA/Importers/APIArticleImporter.php
  sourcecode/apis/contentauthor/app/Libraries/NDLA/Importers/Handlers/APIArticle/Tags.php
  sourcecode/apis/contentauthor/app/Libraries/NDLA/Importers/ImportAdapters/CerpusH5PImporter.php
  sourcecode/apis/contentauthor/app/Libraries/QuestionSet/QuestionSetConvert.php
  sourcecode/apis/contentauthor/app/Listeners/Game/HandleTags.php
  sourcecode/apis/contentauthor/app/Listeners/Questionset/HandleTags.php
  sourcecode/apis/contentauthor/app/Providers/EventServiceProvider.php
  sourcecode/apis/contentauthor/app/Traits/CopiesCustomMetadataFields.php
  sourcecode/apis/contentauthor/app/Traits/Recommendable.php
  sourcecode/apis/contentauthor/app/Traits/Taggable.php
  sourcecode/apis/contentauthor/composer.json
  sourcecode/apis/contentauthor/composer.lock
  sourcecode/apis/contentauthor/config/app.php
  sourcecode/apis/contentauthor/config/metadataservice-client.php
  sourcecode/apis/contentauthor/resources/views/admin/index.blade.php
  sourcecode/apis/contentauthor/resources/views/admin/metadata/sync.blade.php
  sourcecode/apis/contentauthor/resources/views/layouts/admin.blade.php
  sourcecode/apis/contentauthor/routes/admin.php
  sourcecode/apis/contentauthor/routes/api.php
  sourcecode/apis/contentauthor/routes/web.php
  sourcecode/apis/contentauthor/tests/API/Handler/ContentTypeHandlerTest.php
  sourcecode/apis/contentauthor/tests/Article/ArticleLockTest.php
  sourcecode/apis/contentauthor/tests/Article/ArticleTest.php
  sourcecode/apis/contentauthor/tests/Article/ArticleVersioningTest.php
  sourcecode/apis/contentauthor/tests/Article/Handler/HandlePrivacyTest.php
  sourcecode/apis/contentauthor/tests/Feature/ContentTagControllerTest.php
  sourcecode/apis/contentauthor/tests/H5P/API/H5PImportControllerTest.php
  sourcecode/apis/contentauthor/tests/H5P/CRUTest.php
  sourcecode/apis/contentauthor/tests/H5P/h5pControllerFunctionalTest.php
  sourcecode/apis/contentauthor/tests/Questionset/QuestionSetControllerTest.php
  sourcecode/apis/contentauthor/tests/Traits/MockMetadataService.php
  sourcecode/apis/contentauthor/tests/Unit/Traits/RecommendableTraitTest.php
Labels: enhancement

#144 Add manual deploy npm component workflow
  .github/workflows/npm-components.yaml
Labels: enhancement

#209 Cast non-template uses of mix() to string
  sourcecode/apis/contentauthor/app/Libraries/H5P/Adapters/NDLAH5PAdapter.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/AdminConfig.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/EditorConfig.php
Labels: bug, Content Author
