Repository cerpus/Edlib, pull requests merged in 2021-12, with the labels that each got.

#273 Don't build frontend assets before testing
  sourcecode/apis/contentauthor/Dockerfile
  sourcecode/apis/contentauthor/tests/TestCase.php
Labels: enhancement

#280 Fix dropdowns in CA admin
  sourcecode/apis/contentauthor/resources/assets/js/admin.js
  sourcecode/apis/contentauthor/resources/assets/js/bootstrap.js
Labels: bug, Component: Content Author

#289 Cache images for improved build speed
  .github/workflows/api-auth.yaml
  .github/workflows/api-common.yaml
  .github/workflows/api-doku.yaml
  .github/workflows/api-license.yaml
  .github/workflows/api-lti.yaml
  .github/workflows/api-resources.yaml
  .github/workflows/api-url.yaml
  .github/workflows/api-version.yaml
  .github/workflows/proxy-admin.yaml
  .github/workflows/proxy-auth.yaml
  .github/workflows/proxy-doku.yaml
  .github/workflows/proxy-iframe.yaml
  .github/workflows/proxy-lti.yaml
  .github/workflows/proxy-resource.yaml
  .github/workflows/proxy-url.yaml
  .github/workflows/www.yaml
Labels: enhancement

#352 Fix more performance issues with docker-compose
  sourcecode/apis/contentauthor/Dockerfile
Labels: enhancement, Component: Content Author

#355 Remove easily bypassable hash check
  sourcecode/apis/contentauthor/app/Http/Controllers/H5PController.php
Labels: bug, Component: Content Author

#370 Ensure all authors are inserted
  localSetup/.env.example
  sourcecode/apis/contentauthor/app/Libraries/H5P/Adapters/NDLAH5PAdapter.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Video/NDLAVideoAdapter.php
  sourcecode/apis/contentauthor/config/ndla-mode.php
  sourcecode/apis/contentauthor/package-lock.json
  sourcecode/apis/contentauthor/public/js/h5p/ndla-contentbrowser.js
Labels: bug

#371 Remove usage of cerpus:copy-remote-libraries
  sourcecode/apis/contentauthor/app/Jobs/SyncRemoteLibraries.php
  sourcecode/apis/contentauthor/app/Libraries/DataObjects/SyncRemoteLibrariesDataObject.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Storage/H5PCerpusStorage.php
Labels: bug

#372 Verify if externaltoken is in request and throw 422 if not
  sourcecode/apis/auth/src/controllers/token.js
Labels: bug

#374 Improve auth error handling and add test
  sourcecode/apis/auth/package.json
  sourcecode/apis/auth/yarn.lock
  sourcecode/apis/doku/package.json
  sourcecode/apis/doku/yarn.lock
  sourcecode/apis/lti/package.json
  sourcecode/apis/lti/yarn.lock
  sourcecode/apis/resources/package.json
  sourcecode/apis/resources/yarn.lock
  sourcecode/apis/url/package.json
  sourcecode/apis/url/yarn.lock
  sourcecode/npm/nodeUtils/package.json
  sourcecode/npm/nodeUtils/src/apiClients/auth/index.js
  sourcecode/npm/nodeUtils/src/apiClients/edlibAuth/index.js
  sourcecode/npm/nodeUtils/src/middlewares/addUserToRequest.js
  sourcecode/npm/nodeUtils/src/services/__tests__/auth.js
  sourcecode/npm/nodeUtils/src/services/auth.js
  sourcecode/npm/nodeUtils/yarn.lock
  sourcecode/proxies/auth/package.json
  sourcecode/proxies/auth/yarn.lock
  sourcecode/proxies/doku/package.json
  sourcecode/proxies/doku/yarn.lock
  sourcecode/proxies/lti/package.json
  sourcecode/proxies/lti/yarn.lock
  sourcecode/proxies/resource/package.json
  sourcecode/proxies/resource/yarn.lock
  sourcecode/proxies/url/package.json
  sourcecode/proxies/url/yarn.lock
Labels: enhancement

#379 Remove image pull secret
  chart/templates/helpers/deployment.tpl
  chart/templates/helpers/initJob.tpl
  chart/templates/helpers/phpDeployment.tpl
Labels: enhancement

#378 Cleanup some env variables
  localSetup/projects/content-author/.env
  sourcecode/apis/contentauthor/.env.example
  sourcecode/apis/contentauthor/config/database.php
  sourcecode/apis/contentauthor/config/imageservice-client.php
Labels: enhancement
