Repository cerpus/Edlib, pull requests merged in 2022-03, with the labels that each got.

#664 Remove connection to licenseapi in proxy-resource
  sourcecode/proxies/resource/src/config/apis.js
  sourcecode/proxies/resource/src/context/index.js
  sourcecode/proxies/resource/src/controllers/license.js
Labels: enhancement

#743 Add resource url as title for edit dialog and add url search
  sourcecode/apis/resources/src/services/resource.js
  sourcecode/www/src/i18n/en/translation.json
  sourcecode/www/src/routes/routes/StandaloneComponents/routes/EditResourceFromLtiLink/EditResourceFromLtiLinkContainer.jsx
Labels: enhancement

#750 Add search by relevance
  sourcecode/apis/resources/src/services/resource.js
  sourcecode/www/src/components/ResourcePage/ResourcePage.jsx
  sourcecode/www/src/constants/resourceOrders.js
  sourcecode/www/src/i18n/en/translation.json
Labels: enhancement

#758 Fix some issues with tablet view
  sourcecode/www/src/components/ResourcePage/ResourcePage.jsx
  sourcecode/www/src/components/ResourcePage/components/CardView.jsx
Labels: enhancement

#662 Use Edlib Resource Kit in Content Author
  sourcecode/apis/contentauthor/app/Article.php
  sourcecode/apis/contentauthor/app/Console/Commands/EdlibLicenseMigrate.php
  sourcecode/apis/contentauthor/app/Content.php
  sourcecode/apis/contentauthor/app/EdlibResource/CaEdlibResource.php
  sourcecode/apis/contentauthor/app/EdlibResource/ResourceSerializer.php
  sourcecode/apis/contentauthor/app/Events/ResourceSaved.php
  sourcecode/apis/contentauthor/app/Game.php
  sourcecode/apis/contentauthor/app/H5PContent.php
  sourcecode/apis/contentauthor/app/Http/Controllers/API/ContentInfoController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/API/PublishResourceController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/Admin/AdminArticleController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/H5PController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/LtiContentController.php
  sourcecode/apis/contentauthor/app/Libraries/DataObjects/EdlibResourceDataObject.php
  sourcecode/apis/contentauthor/app/Libraries/DataObjects/ResourceDataObject.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/H5PLibraryAdmin.php
  sourcecode/apis/contentauthor/app/Libraries/ModelRetriever.php
  sourcecode/apis/contentauthor/app/Libraries/QuestionSet/QuestionSetConvert.php
  sourcecode/apis/contentauthor/app/Libraries/QuestionSet/QuestionSetHandler.php
  sourcecode/apis/contentauthor/app/Link.php
  sourcecode/apis/contentauthor/app/Listeners/ResourceEventHandler.php
  sourcecode/apis/contentauthor/app/Listeners/ResourceEventSubscriber.php
  sourcecode/apis/contentauthor/app/Providers/EventServiceProvider.php
  sourcecode/apis/contentauthor/app/QuestionSet.php
  sourcecode/apis/contentauthor/composer.json
  sourcecode/apis/contentauthor/composer.lock
  sourcecode/apis/contentauthor/config/edlib-resource-kit.php
  sourcecode/apis/contentauthor/tests/Http/Controllers/QuestionSetControllerTest.php
  sourcecode/apis/contentauthor/tests/Libraries/QuestionSetConverterTest.php
  sourcecode/apis/contentauthor/tests/Traits/MockMQ.php
Labels: Component: Content Author

#759 Add alphabetical sorting of content types filters
  sourcecode/www/package.json
  sourcecode/www/src/components/ResourceFilters/Filters/H5PTypes/Alphabetical.jsx
  sourcecode/www/src/components/ResourceFilters/Filters/H5PTypes/Grouped.jsx
  sourcecode/www/src/components/ResourceFilters/Filters/H5PTypes/H5PTypes.jsx
  sourcecode/www/src/components/ResourceFilters/Filters/H5PTypes/index.js
  sourcecode/www/src/components/ResourceFilters/Filters/index.js
  sourcecode/www/src/components/ResourceFilters/ResourceFilters.jsx
  sourcecode/www/src/components/ResourceFilters/filterViewTypes.js
  sourcecode/www/src/i18n/en/translation.json
  sourcecode/www/yarn.lock
Labels: enhancement

#761 Set correct timestamp in slack message on deploy
  .github/actions/awsDeploy/action.yaml
Labels: bug

#763 Add last 7 days stats to modal
  sourcecode/apis/resources/src/controllers/stats.js
  sourcecode/apis/resources/src/repositories/trackingResourceVersion.js
  sourcecode/apis/resources/src/routes/stats.js
  sourcecode/proxies/resource/src/routes/directProxy.js
  sourcecode/www/package.json
  sourcecode/www/src/components/ResourceModal/ResourceModal.jsx
  sourcecode/www/src/components/ResourceModal/ResourceStats.jsx
  sourcecode/www/src/helpers/chart.js
  sourcecode/www/src/i18n/en/translation.json
  sourcecode/www/yarn.lock
Labels: enhancement

#771 Update listing as well with mixed ut flags
  sourcecode/apis/contentauthor/app/Http/Controllers/API/ContentInfoController.php
Labels: bug

#782 Add endpoint for saving resource
  sourcecode/apis/resources/src/controllers/resource.js
  sourcecode/apis/resources/src/routes/index.js
  sourcecode/apis/resources/src/services/resource.js
  sourcecode/apis/resources/src/subscribers/saveEdlibResourcesAPI.js
Labels: enhancement, javascript

#789 Fix access to undefined roles property
  sourcecode/apis/contentauthor/app/Http/Middleware/EdlibParseJwt.php
Labels: Component: Content Author

#797 Fix SSR
  sourcecode/www/src/components/FrameWithResize.jsx
  sourcecode/www/src/helpers/language.js
  sourcecode/www/src/hooks/useToken.jsx
  sourcecode/www/src/routes/index.js
  sourcecode/www/src/server.js
Labels: bug

#783 Remove license-client, migration command
  sourcecode/apis/contentauthor/app/Console/Commands/EdlibLicenseMigrate.php
  sourcecode/apis/contentauthor/app/Console/Kernel.php
  sourcecode/apis/contentauthor/composer.json
  sourcecode/apis/contentauthor/composer.lock
  sourcecode/apis/contentauthor/tests/Commands/EdlibLicenseMigrateTest.php
Labels: Component: Content Author

#799 Remove try-catch in H5PController::store that masks a fatal exception
  sourcecode/apis/contentauthor/app/Exceptions/H5PValidationFailureException.php
  sourcecode/apis/contentauthor/app/Http/Controllers/H5PController.php
Labels: bug, Component: Content Author

#806 Make sure array is rendered with key
  sourcecode/www/src/components/ResourceModal/ResourceStats.jsx
Labels: bug

#807 Make sure cache is cleared on request update as well
  sourcecode/www/src/contexts/Fetch.jsx
  sourcecode/www/src/hooks/useFetch.jsx
Labels: bug

#810 Make sure save filter works even if tab is closed
  sourcecode/www/src/components/ResourceFilters/Filters/SavedFilters.jsx
  sourcecode/www/src/components/ResourceFilters/ResourceFilters.jsx
Labels: bug

#795 upgrade cerpus/edlib-resource-kit-laravel
  sourcecode/apis/contentauthor/composer.json
  sourcecode/apis/contentauthor/composer.lock
  sourcecode/apis/contentauthor/config/edlib-resource-kit.php
  sourcecode/apis/contentauthor/tests/Traits/MockMQ.php
Labels: Component: Content Author, php

#873 Fix Fractal transformers/serializers
  sourcecode/apis/contentauthor/app/Http/Controllers/API/Transformers/AnswerTransformer.php
  sourcecode/apis/contentauthor/app/Http/Controllers/API/Transformers/QuestionTransformer.php
  sourcecode/apis/contentauthor/app/Http/Controllers/API/Transformers/QuestionsetTransformer.php
  sourcecode/apis/contentauthor/app/Libraries/NDLA/Exporters/Transformers/CourseTransformer.php
  sourcecode/apis/contentauthor/app/Libraries/NDLA/Exporters/Transformers/ModuleTransformer.php
  sourcecode/apis/contentauthor/app/Libraries/NDLA/Exporters/Transformers/ResourceTransformer.php
  sourcecode/apis/contentauthor/app/Libraries/NDLA/Exporters/Transformers/SubjectTransformer.php
  sourcecode/apis/contentauthor/app/Libraries/NDLA/Exporters/Transformers/SubtopicModuleTransformer.php
  sourcecode/apis/contentauthor/app/Transformers/DateTransformer.php
  sourcecode/apis/contentauthor/app/Transformers/LinkMetadataTransformer.php
  sourcecode/apis/contentauthor/app/Transformers/QuestionSetsQuestionAnswerTransformer.php
  sourcecode/apis/contentauthor/app/Transformers/QuestionSetsQuestionTransformer.php
  sourcecode/apis/contentauthor/app/Transformers/QuestionSetsTransformer.php
  sourcecode/apis/contentauthor/app/Transformers/Serializers/ArraySerializer.php
Labels: bug, Component: Content Author

#872 Remove try/catch that silently breaks versioning
  sourcecode/apis/contentauthor/app/Traits/Versionable.php
Labels: bug

#925 Remove doku proxy
  .github/workflows/create-release.yaml
  .github/workflows/proxy-doku.yaml
  docker-compose.yml
  localSetup/projects/nginx/nginx-conf.d/edlib-api.conf
  sourcecode/proxies/doku/.dockerignore
  sourcecode/proxies/doku/.env.defaults
  sourcecode/proxies/doku/.gitignore
  sourcecode/proxies/doku/.nvmrc
  sourcecode/proxies/doku/.prettierignore
  sourcecode/proxies/doku/.prettierrc
  sourcecode/proxies/doku/Dockerfile
  sourcecode/proxies/doku/babel.config.cjs
  sourcecode/proxies/doku/jest.config.json
  sourcecode/proxies/doku/package.json
  sourcecode/proxies/doku/src/api.js
  sourcecode/proxies/doku/src/config/apis.js
  sourcecode/proxies/doku/src/config/app.js
  sourcecode/proxies/doku/src/config/embedly.js
  sourcecode/proxies/doku/src/config/errorReporting.js
  sourcecode/proxies/doku/src/config/features.js
  sourcecode/proxies/doku/src/context/index.js
  sourcecode/proxies/doku/src/context/services/core.js
  sourcecode/proxies/doku/src/context/services/embedly.js
  sourcecode/proxies/doku/src/context/services/index.js
  sourcecode/proxies/doku/src/controllers/dokus.js
  sourcecode/proxies/doku/src/controllers/lti.js
  sourcecode/proxies/doku/src/controllers/recommender.js
  sourcecode/proxies/doku/src/controllers/status.js
  sourcecode/proxies/doku/src/controllers/url.js
  sourcecode/proxies/doku/src/middlewares/__tests__/addContextToRequest.js
  sourcecode/proxies/doku/src/middlewares/addContextToRequest.js
  sourcecode/proxies/doku/src/routes/dokus.js
  sourcecode/proxies/doku/src/routes/index.js
  sourcecode/proxies/doku/src/routes/recommender.js
  sourcecode/proxies/doku/src/routes/status.js
  sourcecode/proxies/doku/src/routes/url.js
  sourcecode/proxies/doku/src/services/doku/index.js
  sourcecode/proxies/doku/src/services/runAsync.js
  sourcecode/proxies/doku/src/tests/request.js
  sourcecode/proxies/doku/yarn.lock
Labels: enhancement

#930 Remove sentry
  .github/workflows/api-auth.yaml
  .github/workflows/api-doku.yaml
  sourcecode/apis/auth/jest.config.json
  sourcecode/apis/auth/package.json
  sourcecode/apis/auth/src/api.js
  sourcecode/apis/auth/src/config/errorReporting.js
  sourcecode/apis/auth/src/tests/setEnvVars.js
  sourcecode/apis/auth/yarn.lock
  sourcecode/apis/doku/package.json
  sourcecode/apis/doku/src/api.js
  sourcecode/apis/doku/src/config/errorReporting.js
  sourcecode/apis/doku/src/context/services/index.js
  sourcecode/apis/doku/yarn.lock
  sourcecode/apis/lti/package.json
  sourcecode/apis/lti/src/api.js
  sourcecode/apis/lti/src/config/errorReporting.js
  sourcecode/apis/lti/yarn.lock
  sourcecode/apis/resources/package.json
  sourcecode/apis/resources/src/api.js
  sourcecode/apis/resources/src/config/errorReporting.js
  sourcecode/apis/resources/yarn.lock
  sourcecode/apis/url/package.json
  sourcecode/apis/url/src/api.js
  sourcecode/apis/url/src/config/errorReporting.js
  sourcecode/apis/url/yarn.lock
  sourcecode/npm/nodeUtils/package.json
  sourcecode/npm/nodeUtils/src/apiClients/id/__tests__/index.js
  sourcecode/npm/nodeUtils/src/services/errorReporting.js
  sourcecode/npm/nodeUtils/yarn.lock
  sourcecode/proxies/auth/package.json
  sourcecode/proxies/auth/src/api.js
  sourcecode/proxies/auth/src/config/errorReporting.js
  sourcecode/proxies/auth/yarn.lock
  sourcecode/proxies/lti/package.json
  sourcecode/proxies/lti/src/api.js
  sourcecode/proxies/lti/src/config/errorReporting.js
  sourcecode/proxies/lti/yarn.lock
  sourcecode/proxies/resource/package.json
  sourcecode/proxies/resource/src/api.js
  sourcecode/proxies/resource/src/config/errorReporting.js
  sourcecode/proxies/resource/yarn.lock
  sourcecode/proxies/url/package.json
  sourcecode/proxies/url/yarn.lock
Labels: enhancement

#932 Remove some forgotten references to @sentry/node
  sourcecode/apis/lti/src/subscribers/importUsages.js
  sourcecode/apis/resources/src/subscribers/refreshElasticsearchIndex.js
  sourcecode/apis/resources/src/subscribers/syncExternalResources.js
  sourcecode/apis/url/src/subscribers/sync.js
Labels: bug

#937 Move more variables to helm
  chart/templates/apis/contentauthor.yaml
  chart/templates/apis/version.yaml
  chart/templates/common.yaml
  chart/templates/helpers/container.tpl
  chart/templates/helpers/deployment.tpl
  chart/templates/helpers/phpDeployment.tpl
  chart/values.yaml
Labels: enhancement
