Repository cerpus/Edlib, pull requests merged in 2022-01, with the labels that each got.

#439 Improve error handling in HTTP utility
  sourcecode/apis/contentauthor/app/Util.php
  sourcecode/apis/contentauthor/tests/Unit/UtilTest.php
Labels: bug, Component: Content Author

#443 Fix generation of cacert.pem on fresh install
  docker-compose.yml
Labels: bug

#444 Build versionapi in Docker Compose
  docker-compose.yml
  localSetup/projects/versioningapi/buildAndRestart.sh
Labels: dx

#383 Even more cleanup of env variables
  sourcecode/apis/contentauthor/.env.example
  sourcecode/apis/contentauthor/app/Libraries/H5P/Adapters/NDLAH5PAdapter.php
  sourcecode/apis/contentauthor/config/app.php
  sourcecode/apis/contentauthor/config/cache.php
  sourcecode/apis/contentauthor/config/h5p.php
  sourcecode/apis/contentauthor/config/ndla-mode.php
  sourcecode/apis/contentauthor/config/ndla.php
  sourcecode/apis/contentauthor/config/versionClient.php
Labels: enhancement

#449 Use symfony not found instead of manual responses
  sourcecode/apis/contentauthor/app/Http/Controllers/H5PController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/LtiContentController.php
Labels: dx

#448 Version API skal kjøre på port 80
  docker-compose.yml
Labels: dx

#450 Add tips section to h5p developer guide
  sourcecode/docs/docs.edlib.com/docs/developers/thirdPartyContent/h5p.mdx
Labels: documentation, dx

#457 Add new check for docs to detect broken links
  .github/workflows/docs-edlib-com.yaml
  sourcecode/docs/docs.edlib.com/Dockerfile
Labels: enhancement, dx

#461 Remove bad migration in licenseapi
  sourcecode/apis/license/database/migrations/2019_07_04_072351_create_cache_directory.php
Labels: bug

#458 Add Korean translation of Content Author
  AUTHORS.md
  sourcecode/apis/contentauthor/config/app.php
  sourcecode/apis/contentauthor/resources/lang/ko-kr/article.php
  sourcecode/apis/contentauthor/resources/lang/ko-kr/attribution.php
  sourcecode/apis/contentauthor/resources/lang/ko-kr/auth.php
  sourcecode/apis/contentauthor/resources/lang/ko-kr/common.php
  sourcecode/apis/contentauthor/resources/lang/ko-kr/emails/collaboration-invite.php
  sourcecode/apis/contentauthor/resources/lang/ko-kr/embed.php
  sourcecode/apis/contentauthor/resources/lang/ko-kr/game.php
  sourcecode/apis/contentauthor/resources/lang/ko-kr/h5p-editor.php
  sourcecode/apis/contentauthor/resources/lang/ko-kr/h5p.php
  sourcecode/apis/contentauthor/resources/lang/ko-kr/licenses.php
  sourcecode/apis/contentauthor/resources/lang/ko-kr/link.php
  sourcecode/apis/contentauthor/resources/lang/ko-kr/lock.php
  sourcecode/apis/contentauthor/resources/lang/ko-kr/pagination.php
  sourcecode/apis/contentauthor/resources/lang/ko-kr/passwords.php
  sourcecode/apis/contentauthor/resources/lang/ko-kr/questions.php
  sourcecode/apis/contentauthor/resources/lang/ko-kr/validation.php
Labels: Component: Content Author, localization

#462 Log stack traces in Content Author
  sourcecode/apis/contentauthor/app/Logging/JsonFormatter.php
  sourcecode/apis/contentauthor/config/logging.php
Labels: Component: Content Author, dx

#463 improve pubsub library
  chart/templates/apis/resource.yaml
  docker-compose.yml
  sourcecode/apis/auth/package.json
  sourcecode/apis/auth/yarn.lock
  sourcecode/apis/doku/package.json
  sourcecode/apis/doku/yarn.lock
  sourcecode/apis/lti/package.json
  sourcecode/apis/lti/yarn.lock
  sourcecode/apis/resources/package.json
  sourcecode/apis/resources/src/api.js
  sourcecode/apis/resources/src/runSubscribers.js
  sourcecode/apis/resources/src/subscribers/saveTrackingResourceVersion.js
  sourcecode/apis/resources/yarn.lock
  sourcecode/apis/url/package.json
  sourcecode/apis/url/yarn.lock
  sourcecode/npm/nodeUtils/package.json
  sourcecode/npm/nodeUtils/src/index.js
  sourcecode/npm/nodeUtils/src/services/pubSub.js
  sourcecode/npm/nodeUtils/src/setupApi/runSubscribers.js
  sourcecode/proxies/auth/package.json
  sourcecode/proxies/auth/yarn.lock
  sourcecode/proxies/doku/package.json
  sourcecode/proxies/doku/yarn.lock
  sourcecode/proxies/lti/package.json
  sourcecode/proxies/lti/src/controllers/lti.js
  sourcecode/proxies/lti/yarn.lock
  sourcecode/proxies/resource/package.json
  sourcecode/proxies/resource/yarn.lock
  sourcecode/proxies/url/package.json
  sourcecode/proxies/url/yarn.lock
Labels: enhancement

#464 Set default value for first and last name
  sourcecode/apis/contentauthor/app/Apis/AuthApiService.php
  sourcecode/npm/components/src/components/AuthWrapper.jsx
Labels: bug

#469 Fail early upon missing config in video adapters
  sourcecode/apis/contentauthor/app/Libraries/H5P/Video/NDLAVideoAdapter.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Video/StreampsAdapter.php
  sourcecode/apis/contentauthor/config/ndla-import.php
Labels: dx

#472 Remove logs and system info
  sourcecode/apis/contentauthor/app/Http/Controllers/Admin/AdminController.php
  sourcecode/apis/contentauthor/app/Libraries/LaravelLog.php
  sourcecode/apis/contentauthor/app/Libraries/SystemInfo.php
  sourcecode/apis/contentauthor/resources/views/admin/import-export-settings/index.blade.php
  sourcecode/apis/contentauthor/resources/views/admin/logs.blade.php
  sourcecode/apis/contentauthor/resources/views/admin/system-info.blade.php
  sourcecode/apis/contentauthor/resources/views/layouts/admin.blade.php
  sourcecode/apis/contentauthor/routes/admin.php
Labels: Component: Content Author

#473 Fix broken common API build
  sourcecode/apis/common/Dockerfile
Labels: bug

#474 Upgrade contentauthor to PHP 8
  sourcecode/apis/contentauthor/Dockerfile
  sourcecode/apis/contentauthor/app/Http/Libraries/License.php
  sourcecode/apis/contentauthor/app/Listeners/Article/HandleCollaborationInviteEmails.php
  sourcecode/apis/contentauthor/composer.json
  sourcecode/apis/contentauthor/composer.lock
  sourcecode/apis/contentauthor/phpunit.xml
Labels: Component: Content Author

#482 Prepare CA for the upcoming change in exportable text h5p package
  sourcecode/apis/contentauthor/app/Libraries/H5P/ViewConfig.php
Labels: enhancement
