Repository cerpus/Edlib, pull requests merged in 2022-02, with the labels that each got.

#484 Update health probes
  chart/templates/helpers/container.tpl
Labels: bug

#483 update cerpus/cerpushelper
  sourcecode/apis/contentauthor/composer.lock
Labels: bug, Component: Content Author

#486 remove non ascii from filename to avoid error
  sourcecode/apis/contentauthor/app/Http/Controllers/ContentAssetController.php
Labels: bug

#584 CA admin in edlib admin
  localSetup/projects/nginx/entrypoint.sh
  localSetup/projects/nginx/nginx-conf.d/contentauthor.conf
  scripts/update-host-file.sh
  sourcecode/apis/auth/src/controllers/token.js
  sourcecode/apis/contentauthor/app/Http/Controllers/Auth/LoginController.php
  sourcecode/apis/contentauthor/app/Http/Kernel.php
  sourcecode/apis/contentauthor/app/Http/Middleware/CerpusAuth.php
  sourcecode/apis/contentauthor/app/Http/Middleware/EdlibAuth.php
  sourcecode/apis/contentauthor/app/Http/Middleware/EdlibParseJwt.php
  sourcecode/apis/contentauthor/routes/admin.php
  sourcecode/proxies/admin/src/components/Page/Sidebar.jsx
  sourcecode/proxies/admin/src/config/api.js
  sourcecode/proxies/admin/src/routes/ContentAuthor.jsx
  sourcecode/proxies/admin/src/routes/index.jsx
Labels: enhancement

#586 Multiple auth provider
  sourcecode/apis/auth/Dockerfile
  sourcecode/apis/auth/package.json
  sourcecode/apis/auth/src/config/externalTokenVerifier.js
  sourcecode/apis/auth/src/context/index.js
  sourcecode/apis/auth/src/controllers/login.js
  sourcecode/apis/auth/src/controllers/token.js
  sourcecode/apis/auth/src/migrations/20201102113929_tenantAuthMethod.cjs
  sourcecode/apis/auth/src/migrations/20201102113930_tenantAuthMethodAuthZero.cjs
  sourcecode/apis/auth/src/migrations/20201102113931_tenantAuthMethodCerpusAuth.cjs
  sourcecode/apis/auth/src/repositories/tenantAuthMethod.js
  sourcecode/apis/auth/src/repositories/tenantAuthMethodAuthZero.js
  sourcecode/apis/auth/src/repositories/tenantAuthMethodCerpusAuth.js
  sourcecode/apis/auth/src/routes/index.js
  sourcecode/apis/auth/src/services/externalAuth.js
  sourcecode/apis/auth/src/services/externalAuthAdatpers/auth0.js
  sourcecode/apis/auth/src/services/externalAuthAdatpers/cerpusAuth.js
  sourcecode/apis/auth/src/services/externalAuthAdatpers/helpers.js
  sourcecode/apis/auth/yarn.lock
  sourcecode/apis/contentauthor/app/Http/Kernel.php
  sourcecode/apis/doku/Dockerfile
  sourcecode/apis/doku/package.json
  sourcecode/apis/doku/yarn.lock
  sourcecode/apis/lti/package.json
  sourcecode/apis/lti/yarn.lock
  sourcecode/apis/resources/package.json
  sourcecode/apis/resources/yarn.lock
  sourcecode/apis/url/Dockerfile
  sourcecode/apis/url/package.json
  sourcecode/apis/url/yarn.lock
  sourcecode/npm/components/src/components/AuthWrapper.jsx
  sourcecode/npm/nodeUtils/package.json
  sourcecode/npm/nodeUtils/src/apiClients/edlibAuth/index.js
  sourcecode/npm/nodeUtils/src/setupApi/setupDotenv.js
  sourcecode/npm/nodeUtils/yarn.lock
  sourcecode/proxies/admin/src/containers/AuthProvider/Auth0.jsx
  sourcecode/proxies/auth/package.json
  sourcecode/proxies/auth/src/config/apis.js
  sourcecode/proxies/auth/src/context/services/index.js
  sourcecode/proxies/auth/src/controllers/auth.js
  sourcecode/proxies/auth/yarn.lock
  sourcecode/proxies/doku/package.json
  sourcecode/proxies/doku/yarn.lock
  sourcecode/proxies/lti/package.json
  sourcecode/proxies/lti/yarn.lock
  sourcecode/proxies/resource/Dockerfile
  sourcecode/proxies/resource/package.json
  sourcecode/proxies/resource/yarn.lock
  sourcecode/proxies/url/Dockerfile
  sourcecode/proxies/url/package.json
  sourcecode/proxies/url/yarn.lock
Labels: enhancement

#588 ensure cron doesn't run simultaneously
  chart/templates/apis/contentauthor.yaml
Labels: enhancement

#589 Fix 401 in CA admin
  sourcecode/apis/contentauthor/.env.example
  sourcecode/apis/contentauthor/app/Http/Middleware/EdlibAuth.php
  sourcecode/apis/contentauthor/app/Http/Middleware/EdlibParseJwt.php
  sourcecode/apis/contentauthor/config/session.php
Labels: bug

#590 Fix login issues
  sourcecode/apis/contentauthor/app/Auth/Guards/EdlibGuard.php
  sourcecode/apis/contentauthor/app/Http/Middleware/EdlibParseJwt.php
  sourcecode/apis/contentauthor/app/Providers/AuthServiceProvider.php
  sourcecode/apis/contentauthor/config/auth.php
Labels: bug

#600 Fix small bug fix auth
  sourcecode/apis/auth/src/controllers/token.js
  sourcecode/apis/auth/src/services/externalAuth.js
  sourcecode/apis/auth/src/services/externalAuthAdatpers/auth0.js
  sourcecode/apis/auth/src/services/externalAuthAdatpers/cerpusAuth.js
  sourcecode/apis/auth/src/services/externalAuthAdatpers/generic.js
Labels: bug

#599 Release new component version
  sourcecode/npm/components/package.json
  sourcecode/proxies/admin/package.json
  sourcecode/proxies/admin/yarn.lock
  sourcecode/proxies/iframe/package.json
  sourcecode/proxies/iframe/yarn.lock
  sourcecode/www/package.json
  sourcecode/www/yarn.lock
Labels: enhancement

#601 Fix propertypathid typo
  sourcecode/apis/auth/src/services/externalAuth.js
Labels: bug

#602 Remove unused macro
  sourcecode/apis/contentauthor/app/Providers/AppServiceProvider.php
Labels: Component: Content Author, dx

#617 Fix some string that were not translated
  sourcecode/npm/components/src/components/Editors/Doku/components/Contributors/Contributors.jsx
  sourcecode/npm/components/src/components/LanguageDropdown.jsx
  sourcecode/npm/components/src/components/ResourceFilters.jsx
  sourcecode/npm/components/src/components/ResourceModal/ResourceModal.jsx
  sourcecode/npm/components/src/components/ResourcePage/ResourcePage.jsx
  sourcecode/npm/components/src/components/ResourceTable/ResourceTable.jsx
  sourcecode/npm/components/src/i18n/en/translation.json
  sourcecode/npm/components/src/i18n/index.js
  sourcecode/npm/components/src/i18n/nb/translation.json
Labels: language

#622 Add new endpoint to get QA
  sourcecode/apis/common/app/Apis/ContentAuthorService.php
  sourcecode/apis/common/app/Http/Controllers/ContentAuthorController.php
  sourcecode/apis/common/routes/external-application-api.php
  sourcecode/apis/contentauthor/app/Http/Controllers/H5PReportController.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Packages/CoursePresentation.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Reports/H5PPackage.php
  sourcecode/apis/contentauthor/routes/internal-api.php
Labels: enhancement, Component: Content Author

#624 Updated contact info on contact-us
  sourcecode/docs/docs.edlib.com/src/pages/contact-us.md
Labels: documentation

#625 Release new npm components
  sourcecode/npm/components/package.json
  sourcecode/www/package.json
  sourcecode/www/src/routes/routes/StandaloneComponents/routes/LtiBrowser/LtiBrowser.jsx
  sourcecode/www/src/routes/routes/StandaloneComponents/routes/ViewResource/ViewResourceContainer.jsx
  sourcecode/www/yarn.lock
Labels: enhancement

#626 Release new npm components
  sourcecode/npm/components/package.json
  sourcecode/npm/components/src/index.js
  sourcecode/www/package.json
  sourcecode/www/yarn.lock
Labels: enhancement

#627 Remove old message queue stuff
  sourcecode/apis/contentauthor/app/Console/Commands/ListenToEdlibMessageBus.php
  sourcecode/apis/contentauthor/app/Console/Kernel.php
  sourcecode/apis/contentauthor/app/Messaging/Handlers/AuthMigrationExecute.php
  sourcecode/apis/contentauthor/app/Messaging/Handlers/AuthMigrationGetFeedback.php
  sourcecode/apis/contentauthor/app/Messaging/Handlers/EdlibGdprDeleteRequest.php
Labels: Component: Content Author

#632 Updated translation documentation (adjustments)
  sourcecode/docs/docs.edlib.com/docs/developers/translation.mdx
Labels: documentation, language

#629 Add support for saved filters
  sourcecode/apis/common/app/Http/Controllers/SavedFilterController.php
  sourcecode/apis/common/app/Http/Requests/SavedFilterRequest.php
  sourcecode/apis/common/app/Models/SavedFilter.php
  sourcecode/apis/common/app/Models/SavedFilterChoice.php
  sourcecode/apis/common/database/migrations/2022_02_22_115823_resource_filters.php
  sourcecode/apis/common/routes/external-api.php
  sourcecode/www/src/components/Filters/Licenses.jsx
  sourcecode/www/src/components/Filters/index.js
  sourcecode/www/src/components/ResourceFilters/Filters/H5PTypes.jsx
  sourcecode/www/src/components/ResourceFilters/Filters/Licenses.jsx
  sourcecode/www/src/components/ResourceFilters/Filters/SavedFilters.jsx
  sourcecode/www/src/components/ResourceFilters/Filters/Sources.jsx
  sourcecode/www/src/components/ResourceFilters/Filters/components/Checkbox.jsx
  sourcecode/www/src/components/ResourceFilters/Filters/components/CreateSavedFilter.jsx
  sourcecode/www/src/components/ResourceFilters/Filters/components/DeleteSavedFilter.jsx
  sourcecode/www/src/components/ResourceFilters/Filters/filterUtils.js
  sourcecode/www/src/components/ResourceFilters/Filters/index.js
  sourcecode/www/src/components/ResourceFilters/ResourceFilters.jsx
  sourcecode/www/src/components/ResourceFilters/ResourceFiltersContainer.jsx
  sourcecode/www/src/components/ResourceFilters/index.js
  sourcecode/www/src/components/ResourcePage/ResourcePage.jsx
  sourcecode/www/src/components/ResourcePage/components/FilterChips.jsx
  sourcecode/www/src/constants/resourceFilters.js
  sourcecode/www/src/hooks/useFetch.jsx
  sourcecode/www/src/hooks/useFetchWithToken.jsx
  sourcecode/www/src/i18n/en/translation.json
  sourcecode/www/src/i18n/nb/translation.json
Labels: enhancement

#637 Migrate to mui v5
  .github/workflows/www.yaml
  sourcecode/www/.eslintrc.js
  sourcecode/www/.prettierrc
  sourcecode/www/Dockerfile
  sourcecode/www/package.json
  sourcecode/www/src/App.js
  sourcecode/www/src/components/ContentExplorerHeader/index.jsx
  sourcecode/www/src/components/FromSideModal/FromSideModalBody.jsx
  sourcecode/www/src/components/FromSideModal/FromSideModalHeader.jsx
  sourcecode/www/src/components/Icons/FontAwesome/index.js
  sourcecode/www/src/components/Icons/Material.jsx
  sourcecode/www/src/components/LanguageDropdown.jsx
  sourcecode/www/src/components/PublishedTag.jsx
  sourcecode/www/src/components/ResourceEditCog.jsx
  sourcecode/www/src/components/ResourceFilters/Filters/H5PTypes.jsx
  sourcecode/www/src/components/ResourceFilters/Filters/Licenses.jsx
  sourcecode/www/src/components/ResourceFilters/Filters/SavedFilters.jsx
  sourcecode/www/src/components/ResourceFilters/Filters/components/CreateSavedFilter.jsx
  sourcecode/www/src/components/ResourceFilters/Filters/components/DeleteSavedFilter.jsx
  sourcecode/www/src/components/ResourceFilters/Filters/filterUtils.js
  sourcecode/www/src/components/ResourceFilters/ResourceFilters.jsx
  sourcecode/www/src/components/ResourceFilters/ResourceFiltersContainer.jsx
  sourcecode/www/src/components/ResourceModal/ResourceModal.jsx
  sourcecode/www/src/components/ResourcePage/ResourcePage.jsx
  sourcecode/www/src/components/ResourcePage/components/CardView.jsx
  sourcecode/www/src/components/ResourcePage/components/FilterChips.jsx
  sourcecode/www/src/components/ResourcePage/components/ResourcePageCard/ResourcePageCard.jsx
  sourcecode/www/src/components/ResourcePage/components/ViewContainer.jsx
  sourcecode/www/src/components/ResourceTable/ResourceTable.jsx
  sourcecode/www/src/components/ResourceVersions.jsx
  sourcecode/www/src/components/ThemeSetup.jsx
  sourcecode/www/src/config/resourceTypes.js
  sourcecode/www/src/config/urls.js
  sourcecode/www/src/constants/contentExplorerLandingPages.js
  sourcecode/www/src/constants/resourceColumns.js
  sourcecode/www/src/constants/resourceEditors.js
  sourcecode/www/src/constants/resourceFilters.js
  sourcecode/www/src/constants/resourceOrders.js
  sourcecode/www/src/helpers/request.js
  sourcecode/www/src/helpers/token.js
  sourcecode/www/src/hooks/requests/useResource.js
  sourcecode/www/src/hooks/useArray.js
  sourcecode/www/src/hooks/useConfig.js
  sourcecode/www/src/hooks/useResourceCapabilities.js
  sourcecode/www/src/hooks/useResourceSource.js
  sourcecode/www/src/hooks/useResourcesFilters.js
  sourcecode/www/src/hooks/useTranslation.js
  sourcecode/www/src/i18n/index.js
  sourcecode/www/src/routes/index.js
  sourcecode/www/src/routes/routes/StandaloneComponents/index.js
  sourcecode/www/src/routes/routes/StandaloneComponents/routes/EditResourceFromLtiLink/ModalHeader.jsx
  sourcecode/www/src/routes/routes/StandaloneComponents/routes/ViewResource/ViewResourceContainer.jsx
  sourcecode/www/yarn.lock
Labels: enhancement

#641 Add views to resource table
  sourcecode/apis/resources/src/repositories/trackingResourceVersion.js
  sourcecode/apis/resources/src/services/elasticSearch.js
  sourcecode/apis/resources/src/services/resource.js
  sourcecode/www/i18n-scanner.config.js
  sourcecode/www/src/components/ResourceTable/ResourceTable.jsx
  sourcecode/www/src/i18n/en/translation.json
  sourcecode/www/src/i18n/index.js
Labels: enhancement

#642 Fix css injection order
  sourcecode/www/src/components/ThemeSetup.jsx
Labels: bug

#646 Wrong message format in pubsub
  sourcecode/apis/contentauthor/app/Content.php
Labels: bug

#653 Add logging of searches
  sourcecode/apis/resources/src/context/index.js
  sourcecode/apis/resources/src/migrations/20201102113940_resourceSearch.cjs
  sourcecode/apis/resources/src/migrations/20201102113941_resourceSearchFilters.cjs
  sourcecode/apis/resources/src/repositories/resourceSearch.js
  sourcecode/apis/resources/src/repositories/resourceSearchFilter.js
  sourcecode/apis/resources/src/services/resource.js
Labels: enhancement

#655 Add column sorting
  sourcecode/apis/resources/src/services/resource.js
  sourcecode/www/src/components/ResourcePage/ResourcePage.jsx
  sourcecode/www/src/components/ResourceTable/ClickableHeader.jsx
  sourcecode/www/src/components/ResourceTable/ResourceTable.jsx
  sourcecode/www/src/constants/resourceOrders.js
  sourcecode/www/src/i18n/en/translation.json
Labels: enhancement

#661 Fix blank screen for NDLA
  sourcecode/www/src/routes/routes/StandaloneComponents/components/ContentExplorer/routes/EditResource.jsx
Labels: bug
