Repository cerpus/Edlib, pull requests merged in 2024-12, with the labels that each got.

#2847 restore iframe dimensions
  sourcecode/hub/resources/views/components/launch.blade.php
Labels: bug

#2862 hub: do not expose server versions
  sourcecode/hub/Dockerfile
  sourcecode/hub/docker/nginx/server_tokens.conf
  sourcecode/hub/docker/php/php-dev.ini
  sourcecode/hub/docker/php/php.ini
Labels: Component: Hub

#2864 hub: add url slugs for tools
  sourcecode/hub/app/Console/Commands/AddLtiTool.php
  sourcecode/hub/app/Http/Requests/StoreLtiToolExtraRequest.php
  sourcecode/hub/app/Http/Requests/StoreLtiToolRequest.php
  sourcecode/hub/app/Models/LtiTool.php
  sourcecode/hub/app/Models/LtiToolExtra.php
  sourcecode/hub/database/factories/LtiToolExtraFactory.php
  sourcecode/hub/database/factories/LtiToolFactory.php
  sourcecode/hub/database/migrations/2024_12_11_080000_add_lti_tool_slug.php
  sourcecode/hub/lang/en/messages.php
  sourcecode/hub/resources/views/admin/lti-tools/add-extra.blade.php
  sourcecode/hub/resources/views/admin/lti-tools/add.blade.php
  sourcecode/hub/resources/views/admin/lti-tools/index.blade.php
  sourcecode/hub/routes/web.php
  sourcecode/hub/tests/Browser/AdminTest.php
  sourcecode/hub/tests/Browser/ContentTest.php
  sourcecode/hub/tests/Feature/Admin/AdminTest.php
  sourcecode/hub/tests/Feature/Commands/AddLtiToolTest.php
Labels: language, Component: Hub

#2875 Docs update
  docs/docs/developers/contributing/contributing.mdx
  docs/docs/intro.mdx
  docs/docs/product/custom-development.mdx
  docs/docusaurus.config.js
  docs/src/pages/contact-us.md
  docs/static/img/focus.svg
  docs/static/img/options.svg
  docs/static/img/powerful.svg
Labels: documentation

#2867 remove unused ContentType classes
  sourcecode/apis/contentauthor/app/Libraries/H5P/ContentType/BaseH5PContent.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/ContentType/CerpusImage.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/ContentType/CerpusVideo.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/ContentType/H5PAudio.php
  sourcecode/apis/contentauthor/tests/Unit/Libraries/H5P/ContentType/BaseH5PContentTest.php
Labels: Component: Content Author

#2876 Docs: Fix SVG colors
  docs/static/img/focus.svg
  docs/static/img/options.svg
  docs/static/img/powerful.svg
Labels: documentation

#2866 use translation on /content/create, add admin shortcut
  sourcecode/hub/lang/en/messages.php
  sourcecode/hub/lang/nb/messages.php
  sourcecode/hub/resources/views/content/create.blade.php
Labels: language, Component: Hub

#2865 hub: add "LTI playground" for testing/debug purposes
  sourcecode/hub/app/Http/Controllers/LtiController.php
  sourcecode/hub/app/Http/Requests/LtiPlaygroundRequest.php
  sourcecode/hub/composer.json
  sourcecode/hub/composer.lock
  sourcecode/hub/database/factories/UserFactory.php
  sourcecode/hub/lang/en/messages.php
  sourcecode/hub/resources/views/components/layout/navbar.blade.php
  sourcecode/hub/resources/views/lti/playground.blade.php
  sourcecode/hub/routes/web.php
  sourcecode/hub/tests/Browser/LtiPlaygroundTest.php
Labels: dependencies, composer, language, Component: Hub

#2878 Update css with better greens
  docs/src/css/custom.css
Labels: documentation

#2877 hub: fix unsetting flags on tools
  sourcecode/hub/app/Http/Requests/UpdateLtiToolRequest.php
  sourcecode/hub/database/factories/LtiToolFactory.php
  sourcecode/hub/resources/views/admin/lti-tools/index.blade.php
  sourcecode/hub/tests/Browser/AdminTest.php
  sourcecode/hub/tests/Browser/Components/LtiToolCard.php
Labels: Component: Hub

#2880 Updated logo files
  docs/docusaurus.config.js
  docs/static/img/edlib-logo.png
  docs/static/img/edlib-logo_dark.png
Labels: documentation

#2834 Hub: Add support for LTI parameter to create copy before save
  sourcecode/hub/app/Http/Controllers/ContentController.php
  sourcecode/hub/database/factories/ContentVersionFactory.php
  sourcecode/hub/database/factories/LtiToolFactory.php
  sourcecode/hub/tests/Browser/ContentTest.php
Labels: dependencies, composer, language, Component: Hub

#2879 upgrade to phpstan 2
  sourcecode/hub/app/Http/Controllers/ContentController.php
  sourcecode/hub/app/Http/Requests/ContentStatisticsRequest.php
  sourcecode/hub/app/Models/Content.php
  sourcecode/hub/app/Models/ContentVersion.php
  sourcecode/hub/app/Models/LtiPlatform.php
  sourcecode/hub/app/Models/LtiTool.php
  sourcecode/hub/app/Models/LtiToolExtra.php
  sourcecode/hub/app/Models/User.php
  sourcecode/hub/app/Transformers/ContentTransformer.php
  sourcecode/hub/composer.json
  sourcecode/hub/composer.lock
  sourcecode/hub/phpstan.dist.neon
  sourcecode/hub/tests/DuskTestCase.php
  sourcecode/hub/tests/Feature/Api/ContentTest.php
  sourcecode/hub/tests/Feature/NdlaLegacy/ResourceCopyrightTest.php
  sourcecode/hub/tests/Feature/NdlaLegacy/ResourceInformationTest.php
  sourcecode/hub/tests/Unit/Config/LocalesTest.php
Labels: dependencies, composer, Component: Hub

#2883 GH #2855: Fix race condition in LockStatusTest
  sourcecode/apis/contentauthor/app/Http/Controllers/API/LockStatusController.php
  sourcecode/apis/contentauthor/tests/Integration/Content/LockStatusTest.php
  sourcecode/apis/contentauthor/tests/Integration/Models/ContentLockTest.php
Labels: Component: Content Author
