Repository cerpus/Edlib, pull requests merged in 2025-01, with the labels that each got.

#2889 CA Admin: Prevent deleting library if used by content or other libraries
  sourcecode/apis/contentauthor/app/H5PLibrary.php
  sourcecode/apis/contentauthor/app/Http/Controllers/Admin/LibraryUpgradeController.php
  sourcecode/apis/contentauthor/resources/assets/js/admin.js
  sourcecode/apis/contentauthor/resources/views/admin/fragments/library-table.blade.php
Labels: Component: Content Author

#2886 make phpstan warn about misused functions/statements
  sourcecode/hub/composer.json
  sourcecode/hub/composer.lock
  sourcecode/hub/phpstan.dist.neon
Labels: dependencies, composer, Component: Hub

#2895 Remove pointless indirection in H5PController::show
  sourcecode/apis/contentauthor/app/Http/Controllers/H5PController.php
  sourcecode/apis/contentauthor/resources/views/h5p/show.blade.php
  sourcecode/apis/contentauthor/tests/Integration/Http/Controllers/H5PControllerTest.php
Labels: Component: Content Author

#2890 remove use of profile "helper"
  sourcecode/apis/contentauthor/app/Http/Controllers/API/LockStatusController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/ArticleController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/H5PController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/QuestionSetController.php
  sourcecode/apis/contentauthor/app/Libraries/Games/Millionaire/Millionaire.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Adapters/NDLAH5PAdapter.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/H5PConfigAbstract.php
  sourcecode/apis/contentauthor/config/app.php
  sourcecode/apis/contentauthor/config/ndla-mode.php
  sourcecode/apis/contentauthor/config/ndlaprod/h5p.php
Labels: Component: Content Author

#2888 CA Admin: Use tabs on manage content type page, add descriptions and help text. Rename 'Update libraries' to 'Manage content types'
  sourcecode/apis/contentauthor/app/Http/Controllers/Admin/LibraryUpgradeController.php
  sourcecode/apis/contentauthor/resources/assets/js/admin.js
  sourcecode/apis/contentauthor/resources/assets/sass/admin.scss
  sourcecode/apis/contentauthor/resources/assets/sass/navtabs.scss
  sourcecode/apis/contentauthor/resources/views/admin/fragments/library-table.blade.php
  sourcecode/apis/contentauthor/resources/views/admin/fragments/update-explanation.blade.php
  sourcecode/apis/contentauthor/resources/views/admin/index.blade.php
  sourcecode/apis/contentauthor/resources/views/admin/library-upgrade/index.blade.php
  sourcecode/apis/contentauthor/resources/views/admin/library-upgrade/update-content-type-cache.blade.php
  sourcecode/apis/contentauthor/resources/views/admin/library-upgrade/upload-content-type.blade.php
  sourcecode/apis/contentauthor/resources/views/layouts/admin.blade.php
Labels: Component: Content Author

#2904 fix undesired context inheritance when editing
  sourcecode/hub/app/Listeners/AddContextsToContent.php
  sourcecode/hub/tests/Browser/ContentTest.php
Labels: Component: Hub

#2907 fix ndla image search
  sourcecode/apis/contentauthor/app/Http/Controllers/NdlaContentController.php
Labels: Component: Content Author

#2903 GH #2870: Launch the LTI tool if it's the only one
  sourcecode/hub/app/Http/Middleware/LaunchCreateIfSingleTool.php
  sourcecode/hub/routes/web.php
  sourcecode/hub/tests/Browser/AdminTest.php
  sourcecode/hub/tests/Browser/ContentTest.php
Labels: Component: Hub

#2909 hub: avoid unreliable Dispatchable::dispatch
  sourcecode/hub/app/Http/Controllers/Admin/AdminController.php
  sourcecode/hub/app/Http/Middleware/LaunchCreateIfSingleTool.php
  sourcecode/hub/tests/Browser/ContentTest.php
Labels: Component: Hub

#2913 GH #2651: Reduce to two themes, edlib and dark, default is edlib
  sourcecode/hub/app/Configuration/Themes.php
  sourcecode/hub/app/Http/Controllers/UserController.php
  sourcecode/hub/database/migrations/2025_01_14_080000_replace_light_theme_with_default.php
  sourcecode/hub/lang/en/messages.php
  sourcecode/hub/lang/nb/messages.php
  sourcecode/hub/lang/nn/messages.php
Labels: language, Component: Hub

#2916 Add owner info to use/edit response
  sourcecode/hub/app/Http/Controllers/ContentController.php
  sourcecode/hub/app/Models/ContentVersion.php
  sourcecode/hub/composer.lock
Labels: dependencies, composer, Component: Hub

#2910 CA: Adjust paths for php-cs-fixer
  sourcecode/apis/contentauthor/.php-cs-fixer.dist.php
Labels: Component: Content Author

#2918 add job for attaching context to contents
  sourcecode/hub/app/Http/Controllers/Admin/ContextController.php
  sourcecode/hub/app/Http/Requests/AttachContextToContentsRequest.php
  sourcecode/hub/app/Jobs/AttachContextToContents.php
  sourcecode/hub/lang/en/messages.php
  sourcecode/hub/resources/views/admin/contexts/attach-to-contents.blade.php
  sourcecode/hub/resources/views/admin/index.blade.php
  sourcecode/hub/routes/web.php
Labels: language, Component: Hub

#2919 add confirmation for reindex button
  sourcecode/hub/app/Http/Controllers/Admin/AdminController.php
  sourcecode/hub/lang/en/messages.php
  sourcecode/hub/resources/views/admin/index.blade.php
  sourcecode/hub/tests/Browser/AdminTest.php
Labels: language, Component: Hub

#2921 Fix query params in self-submitting form with GET method
  sourcecode/hub/resources/views/components/self-submitting-form.blade.php
Labels: Component: Hub

#2925 Minor textual updates
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/docs/developers/contributing/contributing.mdx
  docs/src/pages/contact-us.md
Labels: documentation

#2926 Update messages.php
  sourcecode/hub/lang/nb/messages.php
Labels: language, Component: Hub

#2929 fix job not being queued
  sourcecode/hub/app/Jobs/AttachContextToContents.php
Labels: Component: Hub

#2935 Content policy: Adjust check in to not fetch from database. Search result: Adjust data for policy and route
  sourcecode/hub/app/Http/Requests/ContentFilter.php
  sourcecode/hub/app/Policies/ContentPolicy.php
Labels: Component: Hub

#2915 Add email verification, 'email changed' email notifications to hub
  sourcecode/hub/app/Http/Controllers/UserController.php
  sourcecode/hub/app/Listeners/AddAuthToLtiLaunch.php
  sourcecode/hub/app/Listeners/SendAccountEmails.php
  sourcecode/hub/app/Mail/EmailChanged.php
  sourcecode/hub/app/Mail/ResetPasswordEmail.php
  sourcecode/hub/app/Mail/VerifyEmailAddress.php
  sourcecode/hub/app/Models/User.php
  sourcecode/hub/database/factories/UserFactory.php
  sourcecode/hub/database/migrations/2025_01_16_080000_add_email_verified_column.php
  sourcecode/hub/lang/en/email-changed.php
  sourcecode/hub/lang/en/messages.php
  sourcecode/hub/lang/en/verify-email.php
  sourcecode/hub/resources/views/components/email-layout.blade.php
  sourcecode/hub/resources/views/emails/email-changed.blade.php
  sourcecode/hub/resources/views/emails/reset-password.blade.php
  sourcecode/hub/resources/views/emails/verify-email.blade.php
  sourcecode/hub/resources/views/user/my-account.blade.php
  sourcecode/hub/routes/web.php
  sourcecode/hub/tests/Browser/UserTest.php
  sourcecode/hub/tests/Feature/LtiPlatformTest.php
Labels: language, Component: Hub
