Repository cerpus/Edlib, pull requests merged in 2025-02, with the labels that each got.

#2947 Fix minor issues with versions and inserted URLs
  sourcecode/hub/app/Http/Controllers/ContentController.php
  sourcecode/hub/app/Http/Controllers/NdlaLegacy/OembedController.php
Labels: Component: Hub

#2945 GH #2938: Title always shows preview. Depending on context, show the two most used buttons, rest in menu
  sourcecode/hub/app/Http/Requests/ContentFilter.php
  sourcecode/hub/resources/views/components/content/action-buttons.blade.php
  sourcecode/hub/resources/views/components/content/action-buttons/copy.blade.php
  sourcecode/hub/resources/views/components/content/action-buttons/details.blade.php
  sourcecode/hub/resources/views/components/content/action-buttons/edit.blade.php
  sourcecode/hub/resources/views/components/content/action-buttons/menu.blade.php
  sourcecode/hub/resources/views/components/content/action-buttons/share.blade.php
  sourcecode/hub/resources/views/components/content/action-buttons/use.blade.php
  sourcecode/hub/resources/views/components/content/card.blade.php
  sourcecode/hub/resources/views/components/content/grid.blade.php
  sourcecode/hub/resources/views/components/content/list-item.blade.php
  sourcecode/hub/resources/views/components/content/list.blade.php
  sourcecode/hub/resources/views/components/content/result.blade.php
  sourcecode/hub/tests/Browser/Components/ContentCard.php
  sourcecode/hub/tests/Browser/ContentTest.php
Labels: Component: Hub

#2958 GH #2944: CA Admin: Fix slow check if content type/library can be deleted
  sourcecode/apis/contentauthor/app/H5PLibrary.php
  sourcecode/apis/contentauthor/app/Http/Controllers/Admin/LibraryUpgradeController.php
  sourcecode/apis/contentauthor/database/migrations/2025_02_07_124500_create_h5p_contents_libraries_library_id_index.php
Labels: Component: Content Author

#2948 add redirect for legacy e2 urls
  sourcecode/hub/.env.example
  sourcecode/hub/app/Http/Controllers/ContentController.php
  sourcecode/hub/app/Providers/RouteServiceProvider.php
  sourcecode/hub/config/app.php
  sourcecode/hub/phpunit.xml
  sourcecode/hub/routes/edlib-legacy.php
  sourcecode/hub/tests/Feature/ContentTest.php
Labels: Component: Hub

#2969 fix documentation mistake
  docs/docs/hosting/ca-setup.mdx
Labels: documentation

#2968 hub: add option to verify users from social login
  docs/docs/hosting/hub-setup.mdx
  sourcecode/hub/.env.example
  sourcecode/hub/app/Configuration/Features.php
  sourcecode/hub/app/Models/User.php
  sourcecode/hub/config/features.php
  sourcecode/hub/tests/Feature/UserTest.php
Labels: documentation, Component: Hub

#2934 Normalize email address before saving
  sourcecode/hub/app/Http/Requests/Api/UserRequest.php
  sourcecode/hub/app/Http/Requests/StoreUserRequest.php
  sourcecode/hub/app/Http/Requests/UpdateUserRequest.php
  sourcecode/hub/app/Models/User.php
  sourcecode/hub/tests/Browser/UserTest.php
  sourcecode/hub/tests/Feature/Api/UserTest.php
Labels: Component: Hub

#2970 CA Admin and Commands: Use different colors on library install/update button/version
  sourcecode/apis/contentauthor/app/Console/Commands/H5PLibraryInstall.php
  sourcecode/apis/contentauthor/app/Console/Commands/H5PLibraryList.php
  sourcecode/apis/contentauthor/app/Console/Commands/H5PLibraryListAvailable.php
  sourcecode/apis/contentauthor/app/Console/Commands/H5PLibraryListInstalled.php
  sourcecode/apis/contentauthor/app/Console/Commands/H5PLibraryListOutdated.php
  sourcecode/apis/contentauthor/app/Http/Controllers/Admin/LibraryUpgradeController.php
  sourcecode/apis/contentauthor/resources/assets/js/admin.js
  sourcecode/apis/contentauthor/resources/assets/sass/admin.scss
  sourcecode/apis/contentauthor/resources/views/admin/fragments/library-table.blade.php
  sourcecode/apis/contentauthor/resources/views/admin/library-upgrade/index.blade.php
  sourcecode/apis/contentauthor/tests/Integration/Commands/H5PLibraryListTest.php
Labels: Component: Content Author

#2977 Fix troubles discovered during setup
  docs/docs/developers/getting-started.mdx
  sourcecode/apis/contentauthor/.env.example
  sourcecode/apis/contentauthor/resources/views/admin/library-upgrade/index.blade.php
  sourcecode/hub/.env.example
Labels: documentation, Component: Content Author, Component: Hub

#2972 CA Admin: Fix listing of content versions
  sourcecode/apis/contentauthor/app/Http/Controllers/Admin/AdminH5PDetailsController.php
  sourcecode/apis/contentauthor/resources/views/admin/library-upgrade/content-details.blade.php
  sourcecode/apis/contentauthor/routes/admin.php
  sourcecode/apis/contentauthor/tests/Integration/Http/Controllers/Admin/AdminH5PDetailsControllerTest.php
Labels: Component: Content Author

#2973 CA Admin: Remove Edlib 2 info
  sourcecode/apis/contentauthor/resources/views/admin/library-upgrade/content-details.blade.php
  sourcecode/apis/contentauthor/resources/views/admin/library-upgrade/library-content.blade.php
Labels: Component: Content Author

#2979 improve docker setup for devs
  docker-compose.yml
  docs/Dockerfile
  sourcecode/apis/contentauthor/Dockerfile
  sourcecode/apis/contentauthor/docker/nginx/contentAuthor.conf.template
  sourcecode/apis/contentauthor/docker/nginx/no-security-theatre.conf
  sourcecode/apis/contentauthor/docker/php/docker-entrypoint-dev.sh
  sourcecode/apis/contentauthor/docker/php/php-dev.ini
  sourcecode/apis/contentauthor/docker/php/php.ini
  sourcecode/apis/contentauthor/docker/php/startup-dev.sh
  sourcecode/hub/Dockerfile
  sourcecode/hub/docker/php/docker-entrypoint-dev.sh
  sourcecode/hub/docker/php/docker-entrypoint.sh
  sourcecode/hub/docker/php/startup-dev.sh
  sourcecode/hub/docker/php/startup.sh
Labels: documentation, Component: Content Author, Component: Hub

#2978 Move dark theme to own file, rename edlib theme file.
  sourcecode/hub/resources/css/app.scss
  sourcecode/hub/resources/css/layout.scss
  sourcecode/hub/resources/css/theme-dark.scss
  sourcecode/hub/resources/css/theme-edlib.scss
Labels: Component: Hub

#2986 Add pricing to our documentation
  docs/docusaurus.config.js
  docs/src/pages/contact-us.md
  docs/src/pages/pricing.md
Labels: documentation

#2998 Change edlib logo and colors
  sourcecode/hub/resources/css/layout.scss
  sourcecode/hub/resources/css/theme-dark.scss
  sourcecode/hub/resources/css/theme-edlib.scss
  sourcecode/hub/resources/images/logo_black_2025.svg
Labels: Component: Hub

#2993 fix race condition between search and db
  sourcecode/hub/app/Http/Requests/ContentFilter.php
  sourcecode/hub/tests/Browser/ContentTest.php
Labels: Component: Hub

#3000 Update create content page to show cards instead of links
  sourcecode/hub/app/DataObjects/LtiCreateInfo.php
  sourcecode/hub/app/Http/Controllers/ContentController.php
  sourcecode/hub/public/images/lti-tools/h5p.jpg
  sourcecode/hub/public/images/lti-tools/millionaire.png
  sourcecode/hub/resources/css/layout.scss
  sourcecode/hub/resources/views/content/create.blade.php
  sourcecode/hub/tests/Browser/ContentTest.php
Labels: Component: Hub

#2999 Add legacy redirects for hub
  docker-compose.yml
  localSetup/projects/certs/generate-certs.sh
  localSetup/projects/nginx/templates/hub.conf.template
  sourcecode/hub/.env.example
  sourcecode/hub/app/Http/Controllers/ContentController.php
  sourcecode/hub/app/Http/Controllers/EdlibLegacyController.php
  sourcecode/hub/app/Providers/RouteServiceProvider.php
  sourcecode/hub/composer.json
  sourcecode/hub/composer.lock
  sourcecode/hub/config/app.php
  sourcecode/hub/phpunit.xml
  sourcecode/hub/routes/edlib-legacy.php
  sourcecode/hub/tests/Browser/EdlibLegacyTest.php
  sourcecode/hub/tests/Feature/ContentTest.php
  sourcecode/hub/tests/Feature/EdlibLegacyTest.php
Labels: dependencies, composer, Component: Hub

#3003 Add H5P string check to display logo on content create page
  sourcecode/hub/app/DataObjects/LtiCreateInfo.php
Labels: Component: Hub

#3007 add codecov for hub
  .github/codecov.yml
  .github/workflows/contentauthor.yaml
  .github/workflows/hub.yaml
  README.md
Labels: documentation, Component: Content Author, github_actions, Component: Hub

#2980 Remove remants of NDLA import functionality
  sourcecode/apis/contentauthor/.env.example
  sourcecode/apis/contentauthor/app/Http/Controllers/Admin/ImportExportSettingsController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/Admin/PresaveController.php
  sourcecode/apis/contentauthor/app/Http/Middleware/VerifyCsrfToken.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Adapters/CerpusH5PAdapter.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Adapters/NDLAH5PAdapter.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Interfaces/H5PAdapterInterface.php
  sourcecode/apis/contentauthor/app/NdlaArticleId.php
  sourcecode/apis/contentauthor/app/NdlaArticleImportStatus.php
  sourcecode/apis/contentauthor/app/NdlaIdMapper.php
  sourcecode/apis/contentauthor/config/ndla-mode.php
  sourcecode/apis/contentauthor/config/ndla.php
  sourcecode/apis/contentauthor/database/migrations/2025_02_17_080000_drop_ndla_import.php
  sourcecode/apis/contentauthor/phpstan-baseline.neon
  sourcecode/apis/contentauthor/resources/views/admin/import-export-settings/index.blade.php
  sourcecode/apis/contentauthor/resources/views/admin/presave/index.blade.php
  sourcecode/apis/contentauthor/resources/views/layouts/admin.blade.php
  sourcecode/apis/contentauthor/routes/admin.php
  sourcecode/apis/contentauthor/tests/Integration/Models/ContentTest.php
Labels: Component: Content Author

#3004 Change of tab-color indicator for CA when editing H5Ps.
  sourcecode/apis/contentauthor/resources/assets/react/theme/cerpusUI.js
Labels: Component: Content Author

#2965 remove lti_tools.proxy_launch
  docs/docs/hosting/ca-setup.mdx
  sourcecode/hub/app/Console/Commands/AddLtiTool.php
  sourcecode/hub/app/Http/Requests/StoreLtiToolRequest.php
  sourcecode/hub/app/Http/Requests/UpdateLtiToolRequest.php
  sourcecode/hub/app/Models/ContentVersion.php
  sourcecode/hub/app/Models/LtiTool.php
  sourcecode/hub/app/Transformers/LtiToolTransformer.php
  sourcecode/hub/database/factories/LtiToolFactory.php
  sourcecode/hub/database/migrations/2025_02_10_remove_lti_tools_proxy_launch.php
  sourcecode/hub/lang/en/messages.php
  sourcecode/hub/lang/nb/messages.php
  sourcecode/hub/resources/views/admin/lti-tools/index.blade.php
  sourcecode/hub/resources/views/components/admin/lti-tools/form.blade.php
  sourcecode/hub/tests/Browser/AdminTest.php
  sourcecode/hub/tests/Browser/Components/LtiToolCard.php
  sourcecode/hub/tests/Feature/Api/LtiToolTest.php
  sourcecode/hub/tests/Feature/Commands/AddLtiToolTest.php
  sourcecode/hub/tests/Feature/ContentVersionTest.php
Labels: documentation, language, Component: Hub

#3010 GH #3009: Fix contrast ratio in Create boxes, set background-color in the theme files
  sourcecode/hub/resources/css/layout.scss
  sourcecode/hub/resources/css/theme-dark.scss
  sourcecode/hub/resources/css/theme-edlib.scss
Labels: Component: Hub
