Repository cerpus/Edlib, pull requests merged in 2025-03, with the labels that each got.

#3022 don't show use button without return url
  sourcecode/hub/resources/views/components/content/action-buttons.blade.php
  sourcecode/hub/tests/Browser/ContentTest.php
Labels: Component: Hub

#2976 Display language name in content listing
  sourcecode/hub/app/DataObjects/ContentDisplayItem.php
  sourcecode/hub/app/Http/Requests/ContentFilter.php
  sourcecode/hub/resources/views/components/content/card.blade.php
  sourcecode/hub/resources/views/components/content/list-item.blade.php
Labels: Component: Hub

#3021 restore "isAdmin" flag in session
  sourcecode/apis/contentauthor/app/Http/Middleware/LtiAddToSession.php
Labels: Component: Content Author

#3018 hub: composer update, ignore phpstan false positives
  sourcecode/hub/composer.lock
  sourcecode/hub/phpstan-baseline.neon
  sourcecode/hub/public/vendor/telescope/app.js
  sourcecode/hub/public/vendor/telescope/mix-manifest.json
Labels: dependencies, composer, Component: Hub

#3023 configure php-fpm processes
  sourcecode/apis/contentauthor/Dockerfile
  sourcecode/apis/contentauthor/docker/php/fpm-prod.conf
  sourcecode/hub/Dockerfile
  sourcecode/hub/docker/php/fpm-prod.conf
Labels: Component: Content Author, Component: Hub

#3033 add www redirect for ndla
  docker-compose.yml
  sourcecode/hub/routes/edlib-legacy.php
  sourcecode/hub/tests/Feature/EdlibLegacyTest.php
Labels: Component: Hub

#3034 GH #3031: Set iframe permissions
  sourcecode/hub/resources/views/components/launch.blade.php
  sourcecode/hub/resources/views/ndla-legacy/oembed.blade.php
Labels: Component: Hub

#3036 cache copyright/info endpoints
  sourcecode/apis/contentauthor/app/Events/H5pContentDeleted.php
  sourcecode/apis/contentauthor/app/Events/H5pContentUpdated.php
  sourcecode/apis/contentauthor/app/H5PContent.php
  sourcecode/apis/contentauthor/app/Http/Controllers/H5PController.php
  sourcecode/apis/contentauthor/app/Listeners/H5P/InfoCacheListener.php
  sourcecode/apis/contentauthor/app/Providers/EventServiceProvider.php
Labels: Component: Content Author

#3039 NDLA: forward locale from oembed
  sourcecode/hub/app/Http/Controllers/NdlaLegacy/OembedController.php
  sourcecode/hub/app/Http/Controllers/NdlaLegacy/ViewResourceController.php
  sourcecode/hub/app/Http/Middleware/SetsLocaleFromQuery.php
  sourcecode/hub/app/Http/Requests/NdlaLegacy/OembedRequest.php
  sourcecode/hub/routes/web.php
  sourcecode/hub/tests/Browser/ContentTest.php
  sourcecode/hub/tests/Feature/NdlaLegacy/OembedTest.php
  sourcecode/hub/tests/Feature/NdlaLegacy/ViewResourceTest.php
Labels: Component: Hub

#3040 remove unnecessary stuff for EB
  sourcecode/apis/contentauthor/eb/docker-compose.yml
  sourcecode/hub/eb/docker-compose.yml
  sourcecode/hub/eb/startup.sh
Labels: Component: Content Author, Component: Hub

#3043 GH #3038: Set searchparams for NDLA Audio and Image API
  sourcecode/apis/contentauthor/app/Http/Controllers/NdlaContentController.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Audio/NdlaAudioAdapter.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/H5PCreateConfig.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/H5PEditConfig.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Image/NdlaImageAdapter.php
  sourcecode/apis/contentauthor/config/ndla.php
  sourcecode/apis/contentauthor/resources/assets/js/ndla.js
  sourcecode/apis/contentauthor/resources/assets/react/components/AudioBrowser/AudioBrowserContainer.js
  sourcecode/apis/contentauthor/resources/assets/react/components/ImageBrowser/ImageBrowserContainer.js
  sourcecode/apis/contentauthor/resources/assets/react/contentBrowser.js
  sourcecode/apis/contentauthor/routes/web.php
Labels: Component: Content Author

#3008 2778 update h5p core and editor to v1.27
  sourcecode/apis/contentauthor/app/Libraries/H5P/Adapters/CerpusH5PAdapter.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Adapters/NDLAH5PAdapter.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Framework.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/H5PConfigAbstract.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/H5PCreateConfig.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/H5PLibraryAdmin.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Interfaces/H5PAdapterInterface.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Storage/H5PCerpusStorage.php
  sourcecode/apis/contentauthor/composer.json
  sourcecode/apis/contentauthor/composer.lock
  sourcecode/apis/contentauthor/config/h5p.php
  sourcecode/apis/contentauthor/package-lock.json
  sourcecode/apis/contentauthor/package.json
  sourcecode/apis/contentauthor/phpstan-baseline.neon
  sourcecode/apis/contentauthor/phpunit.xml
  sourcecode/apis/contentauthor/resources/assets/entrypoints/ndla-h5peditor-html.js
  sourcecode/apis/contentauthor/resources/assets/js/editor-override/ndla-h5peditor-html.js
  sourcecode/apis/contentauthor/resources/assets/react/components/H5pEditor/List/CkEditorConfigFromSemantics.js
  sourcecode/apis/contentauthor/resources/assets/react/components/H5pEditor/List/Cke5ConfigFromSemantics.js
  sourcecode/apis/contentauthor/resources/assets/react/components/H5pEditor/List/Cke5Editor.js
  sourcecode/apis/contentauthor/resources/assets/react/components/H5pEditor/List/HtmlEditor.js
  sourcecode/apis/contentauthor/resources/assets/react/components/H5pEditor/List/ListItem.js
  sourcecode/apis/contentauthor/resources/assets/react/components/H5pEditor/List/list.scss
  sourcecode/apis/contentauthor/resources/views/h5p/create.blade.php
  sourcecode/apis/contentauthor/resources/views/h5p/edit.blade.php
  sourcecode/apis/contentauthor/tests/Integration/Commands/H5PLibraryListTest.php
  sourcecode/apis/contentauthor/tests/Integration/Http/Controllers/H5PControllerTest.php
  sourcecode/apis/contentauthor/tests/Integration/Libraries/H5P/FrameworkTest.php
  sourcecode/apis/contentauthor/tests/Integration/Libraries/H5P/H5PCreateConfigTest.php
  sourcecode/apis/contentauthor/tests/Integration/Libraries/H5P/H5PEditConfigTest.php
  sourcecode/apis/contentauthor/tests/Integration/Libraries/H5P/Storage/H5pCerpusStorageTest.php
  sourcecode/apis/contentauthor/webpack.mix.js
Labels: dependencies, Component: Content Author, composer, npm

#3041 Use shared flag from CA
  docs/docs/developers/content-types.mdx
  sourcecode/apis/contentauthor/app/Content.php
  sourcecode/apis/contentauthor/app/H5PContent.php
  sourcecode/apis/contentauthor/app/Http/Controllers/API/H5PImportController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/API/Handler/ContentTypeHandler.php
  sourcecode/apis/contentauthor/app/Http/Controllers/ArticleController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/GameController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/H5PController.php
  sourcecode/apis/contentauthor/app/Http/Controllers/QuestionSetController.php
  sourcecode/apis/contentauthor/app/Http/Requests/ApiH5PQuestionsetRequest.php
  sourcecode/apis/contentauthor/app/Http/Requests/ApiQuestionsetRequest.php
  sourcecode/apis/contentauthor/app/Http/Requests/ArticleRequest.php
  sourcecode/apis/contentauthor/app/Http/Requests/H5PStorageRequest.php
  sourcecode/apis/contentauthor/app/Libraries/DataObjects/ContentStateDataObject.php
  sourcecode/apis/contentauthor/app/Libraries/DataObjects/Questionset.php
  sourcecode/apis/contentauthor/app/Libraries/DataObjects/ResourceMetadataDataObject.php
  sourcecode/apis/contentauthor/app/Libraries/Games/GameHandler.php
  sourcecode/apis/contentauthor/app/Libraries/Games/Millionaire/Millionaire.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Adapters/NDLAH5PAdapter.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Framework.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/H5PImport.php
  sourcecode/apis/contentauthor/app/Libraries/H5P/Interfaces/H5PAdapterInterface.php
  sourcecode/apis/contentauthor/app/Libraries/QuestionSet/QuestionSetConvert.php
  sourcecode/apis/contentauthor/app/Libraries/QuestionSet/QuestionSetHandler.php
  sourcecode/apis/contentauthor/app/Link.php
  sourcecode/apis/contentauthor/app/Listeners/Article/HandlePrivacy.php
  sourcecode/apis/contentauthor/app/Listeners/Game/HandlePrivacy.php
  sourcecode/apis/contentauthor/app/Listeners/Questionset/HandlePrivacy.php
  sourcecode/apis/contentauthor/app/Lti/LtiRequest.php
  sourcecode/apis/contentauthor/app/Providers/EventServiceProvider.php
  sourcecode/apis/contentauthor/app/Rules/LicenseContent.php
  sourcecode/apis/contentauthor/app/Rules/shareContent.php
  sourcecode/apis/contentauthor/config/h5p.php
  sourcecode/apis/contentauthor/config/ndla-mode.php
  sourcecode/apis/contentauthor/database/factories/ArticleFactory.php
  sourcecode/apis/contentauthor/database/factories/H5PContentFactory.php
  sourcecode/apis/contentauthor/database/migrations/2025_03_07_080000_drop_is_private_flags.php
  sourcecode/apis/contentauthor/resources/assets/react/components/Sidebar/SidebarCommonComponents.js
  sourcecode/apis/contentauthor/resources/assets/react/components/Sidebar/components/Sharing/ListedOption.js
  sourcecode/apis/contentauthor/resources/assets/react/components/Sidebar/components/Sharing/Sharing.js
  sourcecode/apis/contentauthor/resources/assets/react/components/Sidebar/components/Sharing/SharingContainer.js
  sourcecode/apis/contentauthor/resources/assets/react/components/Sidebar/components/Sharing/index.js
  sourcecode/apis/contentauthor/resources/assets/react/stores/form.js
  sourcecode/apis/contentauthor/tests/Integration/Article/Handler/HandlePrivacyTest.php
  sourcecode/apis/contentauthor/tests/Integration/Http/Controllers/API/ContentTypeControllerTest.php
  sourcecode/apis/contentauthor/tests/Integration/Http/Controllers/API/Handler/ContentTypeHandlerTest.php
  sourcecode/apis/contentauthor/tests/Integration/Http/Controllers/ArticleControllerTest.php
  sourcecode/apis/contentauthor/tests/Integration/Libraries/H5P/API/H5PImportControllerTest.php
  sourcecode/apis/contentauthor/tests/Integration/Libraries/H5P/FrameworkTest.php
  sourcecode/apis/contentauthor/tests/Integration/Libraries/QuestionSetConverterTest.php
  sourcecode/apis/contentauthor/tests/Integration/Listeners/Game/HandleVersioningTest.php
  sourcecode/hub/app/Listeners/AddContentStatusFlagsToLtiLaunch.php
  sourcecode/hub/tests/Feature/LtiPlatformTest.php
Labels: documentation, Component: Content Author, Component: Hub

#3052 GH #3051: Fix fail to upgrade content to newer H5P content type version in Editor
  sourcecode/apis/contentauthor/app/Libraries/H5P/H5PConfigAbstract.php
  sourcecode/apis/contentauthor/public/js/editor-setup.js
Labels: Component: Content Author

#3050 hub: send default published/shared flags
  docs/docs/developers/content-types.mdx
  sourcecode/hub/app/Events/LaunchItemSelection.php
  sourcecode/hub/app/Http/Requests/StoreLtiToolRequest.php
  sourcecode/hub/app/Http/Requests/UpdateLtiToolRequest.php
  sourcecode/hub/app/Listeners/AddContentStatusFlagsToLtiLaunch.php
  sourcecode/hub/app/Lti/LtiLaunchBuilder.php
  sourcecode/hub/app/Models/LtiTool.php
  sourcecode/hub/app/Transformers/LtiToolTransformer.php
  sourcecode/hub/database/factories/LtiToolFactory.php
  sourcecode/hub/database/migrations/2025_03_19_add_default_tool_flags.php
  sourcecode/hub/lang/en/messages.php
  sourcecode/hub/resources/views/admin/lti-tools/index.blade.php
  sourcecode/hub/resources/views/components/admin/lti-tools/form.blade.php
  sourcecode/hub/tests/Feature/Api/LtiToolTest.php
  sourcecode/hub/tests/Feature/LtiPlatformTest.php
Labels: documentation, language, Component: Hub

#3056 Inherit contexts when copying content
  sourcecode/hub/app/Events/ContentCreated.php
  sourcecode/hub/app/Http/Controllers/ContentController.php
  sourcecode/hub/app/Listeners/AddContextsToContent.php
  sourcecode/hub/app/Models/Content.php
  sourcecode/hub/tests/Browser/ContentTest.php
Labels: Component: Hub

#3059 NDLA: copy contexts in copy endpoint
  sourcecode/hub/app/Http/Controllers/NdlaLegacy/CopyController.php
  sourcecode/hub/tests/Feature/NdlaLegacy/CopyTest.php
Labels: Component: Hub

#3058 Changes to footer
  sourcecode/hub/lang/en/messages.php
  sourcecode/hub/lang/nb/messages.php
  sourcecode/hub/lang/nn/messages.php
  sourcecode/hub/resources/views/components/layout.blade.php
Labels: language, Component: Hub

#3069 Update sharing text in CA
  sourcecode/apis/contentauthor/resources/assets/react/language/en.json
  sourcecode/apis/contentauthor/resources/assets/react/language/nb.json
  sourcecode/apis/contentauthor/resources/assets/react/language/nn.json
Labels: Component: Content Author, language

#3042 CA: move webpacked files to build subdirectory
  sourcecode/apis/contentauthor/.gitignore
  sourcecode/apis/contentauthor/app/Libraries/H5P/H5PConfigAbstract.php
  sourcecode/apis/contentauthor/app/Providers/AppServiceProvider.php
  sourcecode/apis/contentauthor/app/Support/Mix.php
  sourcecode/apis/contentauthor/public/js/cerpus.js
  sourcecode/apis/contentauthor/public/js/question-editor.js
  sourcecode/apis/contentauthor/public/js/videos/brightcove.js
  sourcecode/apis/contentauthor/resources/views/games/create.blade.php
  sourcecode/apis/contentauthor/resources/views/games/edit.blade.php
  sourcecode/apis/contentauthor/resources/views/question/create.blade.php
  sourcecode/apis/contentauthor/resources/views/question/edit.blade.php
  sourcecode/apis/contentauthor/webpack.mix.js
Labels: Component: Content Author
