Repository cerpus/Edlib, pull requests merged in 2025-05, with the labels that each got.

#3100 remove unused H5PImportController/H5PImportRequest
  sourcecode/apis/contentauthor/app/Http/Controllers/API/H5PImportController.php
  sourcecode/apis/contentauthor/app/Http/Requests/H5PImportRequest.php
Labels: Component: Content Author

#3085 Updates to docs
  AUTHORS.md
  docs/docs/developers/contributing/translation.mdx
  docs/docs/product/features.mdx
  docs/docs/support/userGuides/create-content.mdx
  docs/docs/support/userGuides/editing-resource.mdx
  docs/docs/support/userGuides/shared-content.mdx
  docs/static/img/Edlib_H5P_Hub.png
  docs/static/img/Edlib_create_content_page.png
  docs/static/img/Edlib_upload_H5P.png
Labels: documentation

#2949 GH #2939: Remove small screen design for card and list-item
  sourcecode/hub/lang/en/pagination.php
  sourcecode/hub/lang/nb/pagination.php
  sourcecode/hub/lang/nn/pagination.php
  sourcecode/hub/resources/css/content/card.scss
  sourcecode/hub/resources/css/content/layout-toggle.scss
  sourcecode/hub/resources/css/content/list-item.scss
  sourcecode/hub/resources/css/layout.scss
  sourcecode/hub/resources/css/theme-edlib.scss
  sourcecode/hub/resources/views/components/content/card.blade.php
  sourcecode/hub/resources/views/components/content/layout-toggle.blade.php
  sourcecode/hub/resources/views/components/content/list-header.blade.php
  sourcecode/hub/resources/views/components/content/list-item.blade.php
  sourcecode/hub/resources/views/components/layout/navbar.blade.php
  sourcecode/hub/resources/views/vendor/pagination/bootstrap-5.blade.php
Labels: language, Component: Hub

#3109 Add nl translation files
  sourcecode/apis/contentauthor/config/app.php
  sourcecode/apis/contentauthor/resources/assets/react/language/nl.json
  sourcecode/apis/contentauthor/resources/lang/nl/admin.php
  sourcecode/apis/contentauthor/resources/lang/nl/article.php
  sourcecode/apis/contentauthor/resources/lang/nl/attribution.php
  sourcecode/apis/contentauthor/resources/lang/nl/auth.php
  sourcecode/apis/contentauthor/resources/lang/nl/common.php
  sourcecode/apis/contentauthor/resources/lang/nl/game.php
  sourcecode/apis/contentauthor/resources/lang/nl/h5p-editor.php
  sourcecode/apis/contentauthor/resources/lang/nl/h5p.php
  sourcecode/apis/contentauthor/resources/lang/nl/licenses.php
  sourcecode/apis/contentauthor/resources/lang/nl/pagination.php
  sourcecode/apis/contentauthor/resources/lang/nl/passwords.php
  sourcecode/apis/contentauthor/resources/lang/nl/questions.php
  sourcecode/apis/contentauthor/resources/lang/nl/validation.php
  sourcecode/hub/config/app.php
  sourcecode/hub/lang/nl/email-changed.php
  sourcecode/hub/lang/nl/messages.php
  sourcecode/hub/lang/nl/pagination.php
  sourcecode/hub/lang/nl/verify-email.php
Labels: documentation, Component: Content Author, language, Component: Hub

#3113 Update authors.md
  AUTHORS.md
Labels: documentation
